fastapi
uvicorn
supabase
pandas
openpyxl
python-multipart
python-dotenv
certifi
pip-system-certs
pinecone
langchain
langchain-community
langchain-openai
langchain-text-splitters
pymupdf
pymupdf4llm
tiktoken
openai
